<!-- MAIN NAV -->
<div class="container hidden-print">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bcoem-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bcoem-navbar-collapse">
        <ul class="nav navbar-nav">
          <li {% if page.title == 'Home' %} class="active"{% endif %}><a href="/">Home</a></li>
          <li><a href="http://castate.brewcompetition.com">Registration</a></li>
          <li {% if page.title == 'PreviousWinners' %} class="active"{% endif %}><a href="/previous.html">Previous Winners</a></li>
          <li {% if page.title == 'Sponsors' %} class="active"{% endif %}><a href="/sponsors.html">Sponsors</a></li>
          <li {% if page.title == 'Contact' %} class="active"{% endif %}><a href="/contact.html">Contact</a></li>
        </ul>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</div>
</div><!-- container -->   
<!-- ./MAIN NAV -->
